@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
body {
	background-color: white;
}
h1{
	color: black;
	font-family: "Cutive Mono";

}
.underline {
	text-decoration: underline;
	font-weight: bold;
}

.contact {

	font-size: .9em;
}