<!DOCTYPE html>
<html lang="en">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName">
<br>    
Address:<br>
<input type="text" ng-model="user.Address"><br><br>
Phone Number:<br>
<input type="text" ng-model="user.PhoneNumber"><br><br>
email:<br>
<input type="text" ng-model="user.email"><br><br>
Employer 1:<br>
    <input type="text" ng-model="user.Employer1">
<br><br>
Responsibilities and Accomplishments:<br>
<input type="text" ng-model="user.ResponsibilitiesandAccomplishments"><br><br>

Employer 2:<br>
    <input type="text" ng-model="user.Employer2"><br><br>
Responsibilities and Accomplishments:<br>
<input type="text" ng-model="user.ResponsibilitiesandAccomplishments"><br><br>

Employer 3:<br>

<input type="text" ng-model="user.Employer3"><br><br>
Responsibilities and Accomplishments:<br>
<input type="text" ng-model="user.ResponsibilitiesandAccomplishments"><br><br>    
Education:<br>
<input type="text" ng-model="user.Education"><br><br>
Programming Languages:
<input type="text" ng-model="user.ProgrammingLanguages"><br><br>

<button ng-click="reset()">RESET</button>


  </form>
  <p>form = {{user }}</p>
  <p>master = {{master}}</p>


<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.master = {firstName:"John", lastName:"McGinley", Address:"19 Britton St Jersey City, NJ 07306", PhoneNumber:"(551) 697 4913", };
    $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
});
</script>



<head>
	<meta charset="utf-8">
	<title>John's Resume</title>
	<link rel="stylesheet" type="text/css" href="css/resume.css">

</head>

<h1> {{user.firstName}} {{user.lastName}}</h1>


<div class = "contact"> {{user.Address}}| cell: {{user.PhoneNumber}}| mail: jmcginley9@gmail.com </div>
<hr>

<div class="underline"> Resume Builder </div>

<ul>
	<li> Designed and developed the front end for a resume builder (HTML/CSS)
	<li> Developed a server side component to store data and develop pdfs
	<li> Added feature to convert to PDF.
</ul>
</div>
</html>

