*{
margin: 0;
padding:0;
}

.shading:after {
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

a {
	color: #E8C52D;
	display: block;
	font-size: 20px;
	float: left;
	padding: 0 20px 0 20px;
	text-decoration: none;
}

body {
	text-align: left;
}

h1 {
	color: #E8C52D;
	padding-top: 30px;
	text-align: center;
}

header {
	background: blue ;
}

nav {
	float: right;
}

.main {
	background: #fff;
	margin: 1.5em 2em 2em 0; 
}



#paragraph {
	float: left;
	display: inline;
}


#logo {
	float: left;
	padding-top: 8px 0 0 20px;
	position: fixed;
	top: 30px;
	left: 30px;
	width: 98px;
}



